[user]
    name = ctallquist
[alias]
    cb=branch --show-current
    rename=branch -m
    co=checkout
    cm=checkout main
    new=checkout -b
    delete=branch -D
    yoink=pull
    yeet=push
    explode=reset --hard
    pf=push --force
    rb=rebase --exec 'git commit --amend --no-edit -n -S' -i
[push]
    default=current
[init]
    defaultBranch=main
[gpg]
    format=ssh
